<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->

    <target name="logfile" xsi:type="File" fileName="${basedir}\testlogfile.txt" layout="${date:format=G}|${level:uppercase=true}|${callsite:className=True:fileName=False:includeSourcePath=False:methodName=True}|${message}"/>

  </targets>

  <rules>
    <!-- add your logging rules here -->

    <logger name="*" minlevel="Info" writeTo="logfile" />

  </rules>
</nlog>